<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta http-equiv="refresh" content="60">
    <title>Carthage Civic Connect Faculty</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" type="image/x-icon" href="/images/bookflame.png">
	<script type="text/javascript" async="" src="/Index.js"></script>
	<script type="text/javascript" async="" src="/DBAbstraction.js"></script>
	
	
</head>

<header class="header">
  <div class="logo-left">
	<a href="https://www.carthage.edu/" tabindex="1">
	<img src="/images/bookmark.png" alt="Logo Left" height="125px">
	</a>
  </div>
  <div class="title-description">
    <h1 class="title">Carthage College Civic Connect</h1>
    <p class="description"></p>
  </div>
  <div class="logout-right">
    <a href="/logout">
    <button class="btn">Logout</button>
    </a>
  </div>
</header>
{{!-- class="" --}}
<body class="h-100 d-flex align-items-center justify-content-center"> 
	<div class="row" style="margin-bottom:30px">
        <div class="nonscrollable">
            {{{body}}}
        </div>
	</div>
</body>
