<h1 style="text-align: center;">Civic Connect Login</h1>
<br>
<p style="text-align: center;">
Login for Civic Connects faculty side webpage.
</p>
<br>
<p style="text-align: center;">
  <a href="/login" class="btn">
    <button class="btn">LOGIN</button>
  </a>
</p>